.homepage {
    background: url('../assets/supermercado-desenfocado.jpg') 100% 100%;
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
}

.homepage-welcome {
    font-family: 'Righteous', cursive;
    text-transform: uppercase;
    font-size: 80px;
    color: white;
    text-align: center;
    width: 100%;
    text-shadow: 4px 3px 0 #7A7A7A;
}

.homepage-services {
    display: flex;
}

.homepage-service {
    background-color: white;
    display: inline-block;
    width: 24%;
    padding: 25px;
    border-radius: 10px;
    margin-bottom: 20px;
    margin: 0 0.5%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

.homepage-service img {
    max-width: 100%;
}

.service-title {
    text-align: center;
    width: 100%;
    font-weight: bold;
    text-transform: uppercase;
}

.service-image {
    width: 100px;
    margin: 30px auto;
    display: block;
}

.service-information {
    margin-top: 20px;
}

@media (max-width: 900px){
    .homepage-services {
        grid-template-columns: 450px;
    }
}

@media (max-width: 600px){
    .homepage-welcome {
        font-size: 50px;
        padding: 20px;
    }

    .homepage-service {
        width: 100%;
        margin-bottom: 20px;
    }

    .homepage {
        background-repeat: repeat;
        height: auto;
    }

    .homepage-services {
        display: block;
    }
}