.container{
    padding-top: 50px;
    max-width: 1110px;
    margin: 0 auto;
    padding: 50px 20px;
}

@media only screen and (max-width: 500px) {

    .container {
        padding: 20px 5px;
    }

    .buttons {
        float: none !important;
        width: 90%;
        margin: 0 auto;
        display: block;
    }

    .button-finish, .save-cesta {
        width: 100%;
    }

    .price {
        float: none !important;
        max-width: 90% !important;
        margin: 0 auto;
        display: block;
        padding: 0;
        text-align: center;
    }

}

.products-container-list {
    max-width: 600px;
    margin: 0 auto;
}

.introduction {
    text-align: center;
    width: 100%;
    margin-bottom: 40px;
}

.buttons {
    clear: both;
    float: right;
}

.save-cesta {
    margin-right: 20px;
}

.button-finish, .save-cesta {
    display: inline-block;
    background-color: black;
    border: none;
    color: white;
    margin-top: 20px;
    padding: 15px 32px;
    clear: both;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

.price {
    float: right;
    max-width: 200px;
    font-size: 18px;
    text-transform: uppercase;
    padding: 20px;
    clear: both;
}