.container{
    padding-top: 50px;
    max-width: 1110px;
    margin: 0 auto;
    padding: 50px 20px;
}

.vaciar-carrito{
	padding-bottom:3.5%;
	text-align:center;
}

.button-vaciar{
	display: inline-block;
    border: none;
    color: white;
    margin-top: 20px;
    padding: 15px 32px;
    clear: both;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    background-color: red;
	
}
.guardar-carrito-a-cesta{
	padding-top:26%;
	display:block;
	font-size:80%;
}

.button-carrito-a-cesta{
	float: none !important;
        width: 90%;
        margin-top: 2%;
        margin-left:2%;
        display: block;
}

.error-required-cesta-a-carrito{
	color:red;
}

select {
  margin-bottom: 1em;
  padding: 2% 10%;
  font-size:110%;
  text-align:center;
  margin:auto;
  border: 0;
  border-bottom: 2px solid green; 
  font-weight: bold;
  border-radius: 0;
}

@media only screen and (max-width: 500px) {

    .container {
        padding: 20px 8px;
    }

    .buttons {
        float: none !important;
        width: 90%;
        margin: 0 auto;
        display: block;
    }

    .button-finish, .save-cesta {
        width: 100%;
    }

    .price {
        float: none !important;
        max-width: 90% !important;
        margin: 0 auto;
        display: block;
        padding: 0;
        text-align: center;
    }
    
    .guardar-carrito-a-cesta{
	padding-top:2%;
}

}

.products-container-list {
    max-width: 600px;
    margin: 0 auto;
}

.introduction {
    text-align: center;
    width: 100%;
    margin-bottom: 1%;
}

.buttons {
    clear: both;
    float: right;
}

.save-cesta {
    margin-right: 20px;
}

.button-finish, .save-cesta {
    display: inline-block;
    background-color: black;
    border: none;
    color: white;
    margin-top: 20px;
    padding: 15px 32px;
    clear: both;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

.price {
    float: right;
    font-size: 18px;
    text-transform: uppercase;
    padding: 20px;
    clear: both;
}

.guardar-carrito-a-cesta{
	text-align:center;
	font-size:80%;
	margin:auto;
}

.button-carrito-a-cesta{
	float: none !important;
        width: 90%;
        margin: auto;
        display: block;
}

.carrito-empty-image {
    margin-top: 50px;
}

.empty-view-text {
    width: 100%;
    text-align: center;
    margin-top: 50px;
}