.producto-container{
	display: flex;
	flex-direction: column;
	border: 1px solid #aaaaaa;
	
}

.producto-imagen{
	height: 200px;
	max-width: 240px;
	display: block;
	object-fit:cover;
	float: left;
}

.producto-info{
	float: left;
}

.producto-precio{
	margin: 0 0 12px 0;
}

.producto-nombre{
	margin: 0 0 8px 0;
}

.producto-supermercado{
	margin:0;
	
}