body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 20px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.menos {
  margin-left: 0 !important;
}

.mas, .menos {
  width: 15px;
  height: 15px;
  background-color: rgb(148,194,76, 0.75);
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
}

.contador {
  font-weight: bold;
  font-size: large;
  color: black;
  width: 20px;
  text-align: center;
}

.mas, .menos, .contador {
  float: left;
  margin: 5px;
}

@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fredoka+One&display=swap');
