.dieta-container{
	display: flex;
	flex-direction: column;
	border: 1px solid #aaaaaa;
	text-decoration: none;
	color: black;
}

.dieta-imagen{
	height: 200px;
	max-width: 240px;
	display: block;
	object-fit:cover;
	border-bottom: 1px solid #aaaaaa;
}

.dieta-info{
	display: flex;
	flex-direction: column;
	padding: 1px;
}

.dieta-tipo{
	margin: 12px 12px 12px 12px;
}

