
.grid-cesta{
	display: grid;
	grid-column-gap: 10px;
	grid-row-gap: 10px;
	grid-template-columns: 240px;
}

@media (min-width: 300px){
	.cestas-container{
	padding: 2% 25%;
	display: grid;
	grid-column-gap: 10px;
	grid-row-gap: 10px;
	grid-template-columns: 240px;
}
	
}

@media (min-width: 544px){
	.cestas-container{
	padding: 2% 12.5%;
	display: grid;
	grid-column-gap: 10px;
	grid-row-gap: 10px;
	grid-template-columns: 240px 240px;
}

}

@media (min-width: 794px){
	.cestas-container{
		padding: 2% 10%;
		display: grid;
		grid-column-gap: 10px;
		grid-row-gap: 10px;
		grid-template-columns: 240px 240px 240px;
	}
	
}

@media (min-width: 1100px){
	.cestas-container{
		padding: 2% 3.5%;
		display: grid;
		grid-column-gap: 10px;
		grid-row-gap: 10px;
		grid-template-columns: 240px 240px 240px 240px;
	}

}

@media (min-width: 1300px){
	.cestas-container{
		padding: 2% 3.2%;
		grid-template-columns: 240px 240px 240px 240px 240px;
		display: grid;
		grid-column-gap: 10px;
		grid-row-gap: 10px;
		grid-template-columns: 240px 240px 240px 240px 240px;
	}
}

@media (min-width: 1350px){
	
	.cestas-container{
	padding: 2% 3.2%;
	grid-template-columns: 240px 240px 240px 240px 240px;
	display: grid;
	grid-column-gap: 10px;
	grid-row-gap: 10px;
	}
	
	
}

@media (min-width: 1450px){
	
	.cestas-container{
	padding: 2% 7%;
	grid-template-columns: 240px 240px 240px 240px 240px;
	display: grid;
	grid-column-gap: 10px;
	grid-row-gap: 10px;
	}}

