.perfil-links{
	padding: 30px 60px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-bottom: 1px solid #aaaaaa;
	background-color: #8bb547;
	align-items: center;
	box-shadow:0 2px 5px #aaaaaa;
}

.separador{
	display: none;
}

.perfil-link{
	text-decoration: none;
	color: black;
	margin-top: 15px;
	margin-bottom: 15px;
}

@media (min-width: 850px){
	
	.perfil-links{
		padding: 20px 60px;
		flex-direction: row;
	}
	
	.separador{
	display: block;
	}
}

