.factura-container {
    border: 1px solid gray;
    padding: 20px;
    max-width: 600px;
    margin-bottom: 15px;
    box-shadow: 0 1px 3px #aaaaaa;
    position: relative;
}

.factura-id {
    margin-top: 0;
}