.producto-container {
  display: flex;
  flex-direction: column;
  border: 1px solid #aaaaaa;
  box-shadow: 0 1px 3px #aaaaaa;
  cursor: pointer;
  box-sizing: border-box;
}

.producto-imagen {
  height: 200px;
  width: 100%;
  max-width: 240px;
  display: block;
  object-fit: cover;
  border-bottom: 1px solid #aaaaaa;
}

.container-cantidad {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.boton-add-producto {
  width: 100%;
  background-color: #779c3d;
  border: none;
  color: white;
  height: 40px;
  margin-top: 10px;
  cursor: pointer;
}

.producto-info {
  display: flex;
  flex-direction: column;
  padding: 16px;
  max-width: 207px;
}

.producto-precio {
  margin: 0 0 12px 0;
  font-weight: 600;
  font-size: 20px;
  color: black;
}

.producto-nombre {
  margin: 0 0 8px 0;
  font-weight: bold;
  font-size: 15px;
  font-family: "Raleway", sans-serif;
  color: black;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.producto-supermercado {
  color: #779c3d;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
}

.producto-editar-cantidad {
  margin-top: 20px;
}

.link {
  text-decoration: none;
}
