.productos-container{
	padding: 40px 30px;
	display: flex;
	justify-content: center;
	
}

.productos-page {
	padding-bottom: 0 !important;
}

.productos-title {
	padding-bottom: 0 !important;
}

.productos-search {
	width: 100%;
	padding: 10px 40px;
	margin-top: 40px;
	border: 2px solid #779C3D !important;
	font-size: 17px;
	background-image: url('../assets/search.svg');
	background-size: 20px;
	background-repeat: no-repeat;
	background-position-y: center;
	background-position-x: 10px;
	border-radius: 3px;
}

.productos-filtro {
	margin: 10px 0;
}

@media (min-width: 544px){

	.grid{
		display: grid;
		grid-column-gap: 10px;
		grid-row-gap: 10px;
		grid-template-columns: 240px 240px;
	}
}

@media (min-width: 794px){
	
	.grid{
		display: grid;
		grid-column-gap: 10px;
		grid-row-gap: 10px;
		grid-template-columns: 240px 240px 240px;
	}
}

@media (min-width: 1100px){
	.productos-container{
		padding: 40px 60px;
	}
	
	.grid{
		display: grid;
		grid-column-gap: 10px;
		grid-row-gap: 10px;
		grid-template-columns: 240px 240px 240px 240px;
	}
}

@media (min-width: 1350px){
	
	.grid{
		display: grid;
		grid-column-gap: 10px;
		grid-row-gap: 10px;
		grid-template-columns: 240px 240px 240px 240px 240px;
	}
}

